<div class="modal-header">
    <h4 class="modal-title">Add new category</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')"> x
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="addCategoryForm" (ngSubmit)="submitForm()">
          <div class="modal-body">
            <div class="container">
              <div class="form-group">
                <label for="categoryId">Category ID</label>
                <input type="text"
                  class="form-control"
                  formControlName="categoryId" />
              </div>
              <div class="form-group">
                  <label for="categoryName">Category Name</label>
                  <input type="text"
                    class="form-control"
                    formControlName="categoryName" />
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success"
              [disabled]="!addCategoryForm.valid">
              Submit Form
            </button>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button (click)="activeModal.dismiss('Close clicked')">
      Cancel
    </button>
  </div>
