<div class="main-banner">
  <div class="container welcome-banner-text">
    <div class="row">
      <div class="col-md-12">
        <div class="region region-welcome-banner-text">
          <div
            id="block-isbndbsearchblock"
            class="block block-isbndb block-isbndb-menu-block"
          >
            <div id="main-search block--isbndb_search">
              <div class="input-group mb-2">
                <input
                  id="searchTxt"
                  type="text"
                  class="search_query form-control"
                  placeholder="Search book by title..."
                  [(ngModel)]="searchText"
                  name="searchTxt"
                />
                <button
                  class="search-button font-weight-bold"
                  type="button"
                  (click) ="filterBooks()">
                  Search
                </button>
              </div>
              <div
                *ngFor="let b of result"
                class="container p-1"
              >
                <div
                  *ngIf="show"
                  type="button"
                  class="btn btn-basic btn-block"
                  (click)="goToBookPage(b)"
                  >
                  {{b.title}}
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="carousel-section mb-5">
  <div class="carousel-title mt-5 mb-3 text-center">
    <h3><u>Top rated books</u></h3>
  </div>
  <app-books-carousel></app-books-carousel>
</div>

