<div class="modal-header">
    <h4 class="modal-title">Edit author</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')"> x
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="editAuthorForm" (ngSubmit)="submitForm()">
          <div class="modal-body">
            <div class="container">
              <div class="form-group">
                <label for="authorId">Author ID</label>
                <input type="text"
                  class="form-control"
                  formControlName="authorId" />
              </div>
              <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text"
                    class="form-control"
                    formControlName="firstName" />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text"
                  class="form-control"
                  formControlName="lastName" />
              </div>
              <div class="form-group">
                <label for="birthDate">Date of Birth</label>
                <input type="text"
                  class="form-control"
                  formControlName="birthDate" />
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text"
                  class="form-control"
                  formControlName="address" />
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success"
              [disabled]="!editAuthorForm.valid">
              Submit Form
            </button>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button (click)="activeModal.dismiss('Close clicked')">
      Cancel
    </button>
  </div>
