<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/assets/images/ibdb-logo.jpg" alt="logo" />
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li
        class="nav-item active mr-3"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
      >
        <a class="nav-link">Home</a>
      </li>
      <li
        class="nav-item mr-3"
        [routerLink]="['/about-us']"
        routerLinkActive="router-link-active"
      >
        <a class="nav-link">About</a>
      </li>
      <li
        class="nav-item mr-3"
        [routerLink]="['/contact']"
        routerLinkActive="router-link-active"
      >
        <a class="nav-link">Contact</a>
      </li>
      <li
        class="nav-item active mr-3 dropdown"
        [routerLink]="['/books']"
        routerLinkActive="router-link-active"
      >
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Books
        </a>
        <ul
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
          *ngFor="let book of books"
        >
          <li class="dropdown-submenu">
            <a
              class="dropdown-item dropdown-toggle"
              (click)="
                sortByFictionCategory(
                  book,
                  book.subcategory.categories[0].categoryId
                )
              "
              >Fiction</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/books">Action and Adventure</a>
              </li>
              <li><a class="dropdown-item" href="/books">Anthology</a></li>
              <li><a class="dropdown-item" href="/books">Classic</a></li>
              <li>
                <a class="dropdown-item" href="/books">Comic/Graphic Novel</a>
              </li>
              <li>
                <a class="dropdown-item" href="/books">Crime and Detective</a>
              </li>
              <li><a class="dropdown-item" href="/books">Drama</a></li>
              <li><a class="dropdown-item" href="/books">Fable</a></li>
              <li><a class="dropdown-item" href="/books">Fairy Tale</a></li>
              <li><a class="dropdown-item" href="/books">Fan-Fiction</a></li>
              <li><a class="dropdown-item" href="/books">Fantasy</a></li>
              <li>
                <a class="dropdown-item" href="/books">Historical Fiction</a>
              </li>
              <li><a class="dropdown-item" href="/books">Horror</a></li>
              <li><a class="dropdown-item" href="/books">Humor</a></li>
              <li><a class="dropdown-item" href="/books">Legend</a></li>
              <li>
                <a class="dropdown-item" href="/books">Magical Realism</a>
              </li>
              <li><a class="dropdown-item" href="/books">Mystery</a></li>
              <li><a class="dropdown-item" href="/books">Mythology</a></li>
              <li>
                <a class="dropdown-item" href="/books">Historical Fiction</a>
              </li>
              <li>
                <a class="dropdown-item" href="/books">Realistic Fiction</a>
              </li>
              <li><a class="dropdown-item" href="/books">Romance</a></li>
              <li><a class="dropdown-item" href="/books">Satire</a></li>
              <li>
                <a class="dropdown-item" href="/books">Science Fiction</a>
              </li>
              <li><a class="dropdown-item" href="/books">Short Story</a></li>
              <li>
                <a class="dropdown-item" href="/books">Suspense/Thriller</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a
              class="dropdown-item dropdown-toggle"
              href="/books"
              (click)="sortByNonFictionCategory(book)"
              >Non-fiction</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/books">Biography</a></li>
              <li><a class="dropdown-item" href="/books">Essay</a></li>
              <li><a class="dropdown-item" href="/books">Memoir</a></li>
              <li>
                <a class="dropdown-item" href="/books">Narrative Nonfiction</a>
              </li>
              <li><a class="dropdown-item" href="/books">Periodicals</a></li>
              <li>
                <a class="dropdown-item" href="/books">Reference Books</a>
              </li>
              <li><a class="dropdown-item" href="/books">Self-help Book</a></li>
              <li><a class="dropdown-item" href="/books">Speech</a></li>
              <li><a class="dropdown-item" href="/books">Textbook</a></li>
              <li><a class="dropdown-item" href="/books">Poetry</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li
        class="nav-item mr-3"
        [routerLink]="['/signup']"
        routerLinkActive="router-link-active"
      >
        <a class="nav-link">Sign Up</a>
      </li>
      <li
        class="nav-item"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        <a class="nav-link">Log In</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
