<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card my-5">
          <div class="card-body">
            <h2 class="card-title text-center py-3 mb-5">{{ greet }}</h2>
            <h3 class="text-center mt-2"> <span class="badge mt-5">Manage Users</span></h3>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/users" class="btn btn-info">List Users</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-success">Add User</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-warning">Edit Users</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-danger">Delete Users</a>
              </li>
            </ul>

            <h3 class="text-center mt-2"> <span class="badge">Manage Books</span></h3>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/users" class="btn btn-info">List Books</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-success">Add Books</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-warning">Edit Books</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-danger">Delete Books</a>
              </li>
            </ul>

            <h3 class="text-center mt-2"> <span class="badge">Manage Authors</span></h3>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/users" class="btn btn-info">List Authors</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-success">Add Authors</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-warning">Edit Authors</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-danger">Delete Authors</a>
              </li>
            </ul>

            <h3 class="text-center mt-2"> <span class="badge">Manage Categories</span></h3>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/users" class="btn btn-info">List Categories</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-success">Add Categories</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-warning">Edit Categories</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-danger">Delete Categories</a>
              </li>
            </ul>

            <h3 class="text-center mt-2"> <span class="badge">Manage Subcategories</span></h3>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/users" class="btn btn-info">List Subcategories</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-success">Add Subcategories</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-warning">Edit Subcategories</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-danger">Delete Subcategories</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
