<div class="modal-header">
    <h4 class="modal-title">Add new author</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')"> x
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="addAuthorForm" (ngSubmit)="submitForm()">
          <div class="modal-body">
            <div class="container">
              <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text"
                    class="form-control"
                    formControlName="firstName" />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text"
                  class="form-control"
                  formControlName="lastName" />
              </div>
              <div class="form-group">
                <label for="birthDate">Date of Birth</label>
                <input type="date"
                  class="form-control"
                  formControlName="birthDate" />
              </div>
              <div class="form-group">
                <label for="selectedCountry">Country</label>
                <select
                  placeholder="Country"
                  formControlName="selectedCountry"
                  (change)="changeCountry($event.target.value)"
                  >
                  <option>--Choose Country--</option>
                  <option *ngFor="let country of countries">
                    {{country.name}}
                  </option>
                </select>
                <label for="selectedCity">City</label>
                <select
                  placeholder="City"
                  formControlName="selectedCity">
                  <option>--Choose City--</option>
                  <option *ngFor="let city of cities">
                    {{city}}
                  </option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success"
              [disabled]="!addAuthorForm.valid">
              Submit Form
            </button>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button (click)="activeModal.dismiss('Close clicked')">
      Cancel
    </button>
  </div>
