<div class="container">
    <div class="row">
         <div class="col-xs-4 col-lg-5 text-center item-photo">
              <img src="https://images-na.ssl-images-amazon.com/images/I/61F44NBT0NL._SX357_BO1,204,203,200_.jpg" alt="book image"/>
          </div>
          <div class="col-xs-4 col-lg-7">
              <!--Info section -->
              <h2>Title: {{book.title}}</h2>
              <h5>Category: {{book.category}}</h5>
              <h5>Subcategory: {{book.subcategory}}</h5>
              <h5>Written by: {{book.author}}</h5>
              <h5>Published by: {{book.publisher}}</h5>
              <h5>Published at: {{book.publishDate}}</h5>

              <!-- Rating section-->
              <div class="section">
                  <h2>Rating</h2>

              </div>

              <!-- Review section-->
              <div class="section">
                  <h2>Reviews</h2>

                </div>
          </div>
      </div>
  </div>
