<div class="row mt-5 text-sm-center text-lg-left">
  <div class="col-lg-9 ml-lg-5"><h2>Users Details</h2></div>
  <div class="col-lg-2 text-lg-center text-md-right text-sm-center">
    <button type="button" class="btn btn-info add-new" (click)="onAdd()">
      <i class="fa fa-plus"></i> Add New
    </button>
  </div>
</div>

<div class="table-container p-5">
  <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">User Id</th>
          <th scope="col">Email Address</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Birth Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ u.userId }}</td>
          <td>{{ u.emailAddress }}</td>
          <td>{{ u.username }}</td>
          <td>{{ u.firstName }} {{ u.lastName }}</td>
          <td>{{ u.gender }}</td>
          <td>{{ u.birthDate | date: "mediumDate" }}</td>
          <td class="btn-group">
            <button class="btn btn-warning btn-sm mr-2" (click)="onUpdate(u)">
              <i class="material-icons"></i>
            </button>
            <button class="btn btn-danger btn-sm ml-2" (click)="onDelete(u)">
              <i class="material-icons"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ***** Modal ***** -->
<ng-template #usersModal>
  <div class="modal-header">
    <h4 class="modal-title">Users manager</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal()"> x
    </button>
  </div>
  <div class="modal-body">
    <div class="field">
      <label class="label">Email address</label>
      <input 
        [(ngModel)]="user.emailAddress" 
        class="input form-control"
        type="text">
    </div>

  <div class="field">
    <label class="label">Username</label>
    <input 
      [(ngModel)]="user.username" 
      class="input form-control" 
      type="text">
  </div>
    
  <div class="field">
    <label class="label">First name</label>
    <input 
      [(ngModel)]="user.firstName" 
      class="input form-control" 
      type="text">
  </div>

  <div class="field">
    <label class="label">Last name</label>
    <input 
      [(ngModel)]="user.lastName" 
      class="input form-control" 
      type="text">
  </div>

  <div class="field">
    <label class="label">Gender</label>
    <select 
      [(ngModel)]="selectedGender" 
      [compareWith]="compareGender"
      class="input has-text-centered is-cursor-pointer form-control"
      >
      <option *ngFor="let gender of genders" [(ngValue)]="gender">
        {{gender}}
      </option>
    </select>
  </div>
    
  <div class="field">
    <label class="label">Birth Date</label>
    <input 
      type="input date" 
      class="form-control" 
      [value]="user.birthDate" 
      [(ngModel)]="user.birthDate" 
      data-date="user.birthDate" 
      placeholder="yyyy-mm-dd"
    />
  </div>
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="onSubmit()">
      Submit
    </button>
    <button class="btn btn-danger" (click)="onSubmit()">
      Cancel
    </button>
  </div>

</ng-template>