<div class="row mt-5 text-sm-center text-lg-left">
    <div class="col-lg-9 ml-lg-5"><h2>Subcategories Details</h2></div>
    <div class="col-lg-2 text-lg-center text-md-right text-sm-center">
      <button type="button" class="btn btn-info add-new" (click)="onAdd()">
        <i class="fa fa-plus"></i> Add New
      </button>
    </div>
  </div>

  <div class="table-container p-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Subcategory Id</th>
            <th scope="col">Subcategory Name</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of subcategories; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ s.subcategoryId }}</td>
            <td>{{ s.subcategoryName }}</td>
            <td *ngIf="s.category != null">{{ s.category.categoryName }}</td>
            <td *ngIf="s.category == null">UNDEFINED</td>
            <td class="btn-group">
              <button class="btn btn-warning btn-sm mr-2" (click)="onUpdate(s)">
                <i class="material-icons"></i>
              </button>
              <button class="btn btn-danger btn-sm ml-2" (click)="onDelete(s)">
                <i class="material-icons"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
<!-- ***** Modal ***** -->
<ng-template #subcategoriesModal>
  <div class="modal-header">
    <h4 class="modal-title">Subcategories manager</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal()"> x
    </button>
  </div>
  <div class="modal-body">
    <div class="field">
      <label class="label">Name</label>
      <input 
        [(ngModel)]="subcategory.subcategoryName" 
        class="input form-control" 
        type="text"
        >
    </div>
    
    <div class="field">
      <label class="label">Category</label>
      <select [compareWith]="compareCategory" [(ngModel)]="selectedCategory" class="input has-text-centered is-cursor-pointer form-control">
        <option *ngFor="let c of categories" [(ngValue)]= "c">
          {{c.categoryName}}
        </option>
      </select>
    </div>
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="onSubmit()">
      Submit
    </button>
    <button class="btn btn-danger" (click)="onSubmit()">
      Cancel
    </button>
  </div>

</ng-template>