<div class="container w-50 text-center justify-content-center">
  <h2 class="pt-5">What is IBDB?</h2>
  <div class="about flex-right row">
    <p>
      IBDB is one of the most comprehensive book databases on the web.
      Using data from hundreds of libraries, publishers, merchants and
      other sources around the globe, IBDB compiles dozens of data
      points for millions of books including books in print, out of print
      and rare books in multiple languages. Search by ISBN, title, author,
      subject or publisher.
    </p>
  </div>
  <div class="stats pb-4">
    <h3>Live Stats</h3>
    <p>Books: 22,648,253 <br> Authors: 9,836,019 <br> Publishers: 1,791,590</p>
  </div>


</div>
