<div class="container">
  <div class="row">
    <div class="col-6 p-5">
      <div class="description p-5">
        <h2>What is IBDB?</h2>
        <div class="about flex-right row p-2">
          <p>
                 IBDB is one of the most comprehensive book databases on the web.
            Using data from hundreds of libraries, publishers, merchants and
            other sources around the globe, IBDB compiles dozens of data
            points for millions of books including books in print, out of print
            and rare books in multiple languages. Search by ISBN, title, author,
            subject or publisher.
          </p>
        </div>
        <div class="stats p-2">
          <h3>Live Stats</h3>
          <ul>
            <li>Books: {{books}}</li>
            <li>Authors: {{authors}}</li>
            <li>Publishers: {{publishers}}</li>
            <li>Book categories: {{categories}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 p-5">
      <img src="/assets/images/ibdb-logo.jpg" alt="IBDB logo">
    </div>
  </div>
</div>
