.contact-form {
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}
#source {
  height: 75px;
}

.title{
  color: #1f0052;
}
.question{
  color: #1f0052;
  font-weight: bold;
}
label {
  color: #1f0052;
  font-weight: bold;
}
.form-control{
  border: 1px solid #1f0052;
}
.sendButton{
  color: white;
  font-weight: bolder;
}

.btn-primary {
  color: #fff;
  background-color: #1f0052;
  border-color: #1f0052;
}
